.head {
  max-height: 3.75rem !important;
  min-height: 3.75rem !important;
  border-bottom: 1px solid #eaecf0 !important;
}

.dashboard-content {
  max-height: calc(100vh - 3.75rem) !important;
  min-height: calc(100vh - 3.75rem) !important;
}

.dashboard-upload-btn {
  width: 8rem !important;
  height: 2.5rem !important;
  background-color: #6941c6 !important;
}

.upload-button-title {
  color: #ffffff !important;
  font-size: 0.875rem !important;
  font-weight: 500 !important;
}

.dropdown-toggle::after {
  visibility: hidden;
}

.dashboard-upload-btn button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.dashboard-content p {
  color: #667085 !important;
}

.btn-primary {
  background-color: #6941c6 !important;
  border-color: #6941c6 !important;
}

.dashboard-upload-list .dropdown-menu {
  border: 0.5rem !important;
}

.modal-dialog {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 3.75rem);
}
